html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #313131;
  color: #cedbff;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

.container__todo {
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  transition: all 1s ease;
}

.todo__list-item {
  display: flex;
  color: #97d9f8;
  background: #24566d;
  border-radius: 3px;
  align-content: center;
  justify-content: space-between;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0 0 0;
}

.todo__title {
  padding: 0;
  margin: 0;
  align-self: center;
}

.label {
  display: block;
  color: #387e9e;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.input {
  background: #97d9f8;
  border: none;
  border-radius: 3px;
  color: #313131;
  font-size: 16px;
  padding: 10px;
  height: auto;
  width: 100%;
}

.button {
  background: #24566d;
  border: 1px solid #204c61;
  border-radius: 3px;
  color: #97d9f8;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  padding: 10px;
  text-transform: uppercase;
}

.button--close {
  border: none;
  background: none;
  font-size: 15px
}

.button--close:hover {
  background: #2a627c;
}

.input-group {
  display: flex;
}
